In [ ]:
# Importing the dependencies

In [4]:
import numpy as np
import pandas as pd
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Data Collection and Pre-Processing

In [60]:
# loading the data from the csv file to apandas dataframe
movies_data = pd.read_csv('movies.csv')
Indian_movies_data = pd.read_csv('indian movies.csv')

In [58]:
# printing the first 5 rows of the dataframe
movies_data.head(1)

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron

In [61]:
Indian_movies_data.head(1)

          ID   Movie Name  Year Timing(min) Rating(10) Votes Genre Language
0  tt0398974  Dr. Shaitan  1960           -          -     -     -    hindi

In [9]:
# number of rows and columns in the data frame

movies_data.shape

(4803, 24)

In [10]:
# selecting the relevant features for recommendation

selected_features = ['genres','keywords','tagline','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'cast', 'director']

In [11]:
# replacing the null valuess with null string

for feature in selected_features:
  movies_data[feature] = movies_data[feature].fillna('')

In [12]:
# combining all the 5 selected features

combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

In [13]:
print(combined_features)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801      A New Yorker in Shanghai Daniel Henney Eliza...
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

In [14]:
# converting the text data to feature vectors

vectorizer = TfidfVectorizer()

In [15]:
feature_vectors = vectorizer.fit_transform(combined_features)

In [16]:
print(feature_vectors)

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 124266 stored elements and shape (4803, 17318)>
  Coords	Values
  (0, 201)	0.07860022416510505
  (0, 274)	0.09021200873707368
  (0, 5274)	0.11108562744414445
  (0, 13599)	0.1036413987316636
  (0, 5437)	0.1036413987316636
  (0, 3678)	0.21392179219912877
  (0, 3065)	0.22208377802661425
  (0, 5836)	0.1646750903586285
  (0, 14378)	0.33962752210959823
  (0, 16587)	0.12549432354918996
  (0, 3225)	0.24960162956997736
  (0, 14271)	0.21392179219912877
  (0, 4945)	0.24025852494110758
  (0, 15261)	0.07095833561276566
  (0, 16998)	0.1282126322850579
  (0, 11192)	0.09049319826481456
  (0, 11503)	0.27211310056983656
  (0, 13349)	0.15021264094167086
  (0, 17007)	0.23643326319898797
  (0, 17290)	0.20197912553916567
  (0, 13319)	0.2177470539412484
  (0, 14064)	0.20596090415084142
  (0, 16668)	0.19843263965100372
  (0, 14608)	0.15150672398763912
  (0, 8756)	0.22709015857011816
  :	:
  (4801, 403)	0.17727585190343229
  (4801, 4835)	0.24713765026964
  (4801, 17266)	0.28860981849329476
  (4801, 13835)	0.27870029291200094
  (4801, 13175)	0.28860981849329476
  (4801, 17150)	0.3025765103586468
  (4801, 3511)	0.3025765103586468
  (4801, 13948)	0.3025765103586468
  (4801, 7269)	0.3025765103586468
  (4802, 11161)	0.17867407682173203
  (4802, 4518)	0.16784466610624255
  (4802, 2129)	0.3099656128577656
  (4802, 4980)	0.16078053641367315
  (4802, 6155)	0.18056463596934083
  (4802, 3436)	0.21753405888348784
  (4802, 4528)	0.19504460807622875
  (4802, 1316)	0.1960747079005741
  (4802, 12989)	0.1696476532191718
  (4802, 4371)	0.1538239182675544
  (4802, 6417)	0.21753405888348784
  (4802, 4608)	0.24002350969074696
  (4802, 2425)	0.24002350969074696
  (4802, 3654)	0.262512960498006
  (4802, 5367)	0.22969114490410403
  (4802, 6996)	0.5700048226105303

In [17]:
# Cosine Similarity

In [18]:
# getting the similarity scores using cosine similarity

similarity = cosine_similarity(feature_vectors)

In [19]:
print(similarity)

[[1.         0.07219487 0.037733   ... 0.         0.         0.        ]
 [0.07219487 1.         0.03281499 ... 0.03575545 0.         0.        ]
 [0.037733   0.03281499 1.         ... 0.         0.05389661 0.        ]
 ...
 [0.         0.03575545 0.         ... 1.         0.         0.02651502]
 [0.         0.         0.05389661 ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.02651502 0.         1.        ]]

In [20]:
# Getting the movie name from the user

In [45]:
# getting the movie name from the user

movie_name = input(' Enter your favourite movie name : ')

Enter the type of movie category :  action
 Enter your favourite movie name :  iron man

In [43]:
# creating a list with all the movie names given in the dataset

list_of_all_titles = movies_data['title'].tolist()
# print(list_of_all_titles)

In [46]:
# finding the close match for the movie name given by the  user 

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)
print(find_close_match)

['Action', 'Action', 'Action']
['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [24]:
close_match = find_close_match[0]
print(close_match)

Spider-Man

In [25]:
# finding the index of the movie with title

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]
print(index_of_the_movie)

159

In [36]:
# getting a list of similar movies

similarity_score = list(enumerate(similarity[index_of_the_movie]))
# print(similarity_score)

In [27]:
len(similarity_score)

4803

In [34]:
# sorting the movies based on their similarity score

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 
# print(sorted_similar_movies)

In [48]:
# Print the name of similar movies along with their genres
print('Movies suggested for you: \n')

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    # Fetch the title and genres from the movies_data dataframe
    title_from_index = movies_data[movies_data.index == index]['title'].values[0]
    genres_from_index = movies_data[movies_data.index == index]['genres'].values[0]
    
    if i < 31:  # Limit to top 30 suggestions
        print(f"{i}. {title_from_index} - Genres: {genres_from_index}")
        i += 1

Movies suggested for you:

1. Trance - Genres: Thriller Crime Drama Mystery
2. This Thing of Ours - Genres: Drama Action Thriller
3. Jason Bourne - Genres: Action Thriller
4. What's the Worst That Could Happen? - Genres: Action Comedy
5. Stolen - Genres: Action Crime Drama Thriller
6. Alex Cross - Genres: Action Thriller Crime Mystery
7. Eagle Eye - Genres: Mystery Thriller Action
8. The Monuments Men - Genres: War Drama History Action
9. Ocean's Thirteen - Genres: Crime Thriller
10. Clerks II - Genres: Comedy
11. Light It Up - Genres: Drama Thriller
12. Shattered Glass - Genres: Drama History
13. Reservoir Dogs - Genres: Crime Thriller
14. Trainspotting - Genres: Drama Crime
15. Kids - Genres: Drama Crime
16. Headhunters - Genres: Thriller Crime
17. Death to Smoochy - Genres: Comedy Crime Drama Thriller
18. Hoffa - Genres: Crime History
19. Top Five - Genres: Drama Comedy
20. Irreversible - Genres: Drama Thriller Crime Mystery
21. Steve Jobs - Genres: Drama History
22. Takers - Genres: Action Crime Drama Thriller
23. Sin City: A Dame to Kill For - Genres: Crime Thriller
24. The Last Station - Genres: Drama Romance
25. Hudson Hawk - Genres: Action Adventure Comedy
26. Fat, Sick & Nearly Dead - Genres: Documentary
27. 127 Hours - Genres: Adventure Drama Thriller
28. 25th Hour - Genres: Crime Drama
29. Zookeeper - Genres: Comedy Romance Family
30. Land of the Lost - Genres: Adventure Comedy Science Fiction

In [30]:
# Movie Recommendation Sytem

In [52]:
movie_name = input(' Enter your favourite movie name : ')

list_of_all_titles = movies_data['title'].tolist()

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[index_of_the_movie]))

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    # Fetch the title and genres from the movies_data dataframe
    title_from_index = movies_data[movies_data.index == index]['title'].values[0]
    genres_from_index = movies_data[movies_data.index == index]['genres'].values[0]
    
    if i < 31:  # Limit to top 30 suggestions
        print(f"{i}. {title_from_index} - Genres: {genres_from_index}")
        i += 1

 Enter your favourite movie name :  iron man

Movies suggested for you :

1. Iron Man - Genres: Action Science Fiction Adventure
2. Iron Man 2 - Genres: Adventure Action Science Fiction
3. Iron Man 3 - Genres: Action Adventure Science Fiction
4. Avengers: Age of Ultron - Genres: Action Adventure Science Fiction
5. The Avengers - Genres: Science Fiction Action Adventure
6. Captain America: Civil War - Genres: Adventure Action Science Fiction
7. Captain America: The Winter Soldier - Genres: Action Adventure Science Fiction
8. Ant-Man - Genres: Science Fiction Action Adventure
9. X-Men - Genres: Adventure Action Science Fiction
10. Made - Genres: Action Comedy Thriller
11. X-Men: Apocalypse - Genres: Science Fiction
12. X2 - Genres: Adventure Action Science Fiction Thriller
13. The Incredible Hulk - Genres: Science Fiction Action Adventure
14. The Helix... Loaded - Genres: Action Comedy Science Fiction
15. X-Men: First Class - Genres: Action Science Fiction Adventure
16. X-Men: Days of Future Past - Genres: Action Adventure Fantasy Science Fiction
17. Captain America: The First Avenger - Genres: Action Adventure Science Fiction
18. Kick-Ass 2 - Genres: Action Adventure Crime
19. Guardians of the Galaxy - Genres: Action Science Fiction Adventure
20. Deadpool - Genres: Action Adventure Comedy
21. Thor: The Dark World - Genres: Action Adventure Fantasy
22. G-Force - Genres: Fantasy Action Adventure Family Comedy
23. X-Men: The Last Stand - Genres: Adventure Action Science Fiction Thriller
24. Duets - Genres: Comedy Drama Music
25. Mortdecai - Genres: Comedy Adventure
26. The Last Airbender - Genres: Action Adventure Family Fantasy
27. Southland Tales - Genres: Action Adventure Comedy Drama Science Fiction
28. Zathura: A Space Adventure - Genres: Family Fantasy Science Fiction Adventure
29. Sky Captain and the World of Tomorrow - Genres: Mystery Action Thriller Science Fiction Adventure
30. The Amazing Spider-Man 2 - Genres: Action Adventure Fantasy